@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

* {
  font-family: 'Oxygen Mono', 'Yu Gothic', monospace !important;
}
img.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
img.icon.big {
  width: 42px;
  height: 42px;
}

.markdown a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.markdown code {
  background-color: transparent;
  border: 1px dotted #c7254e;
}
.markdown pre {
  background-color: transparent;
  border-color: #0c0;
}
.markdown pre code {
  border: none;
}
.markdown img {
  max-width: 100%;
}

.panel-challenge {
  background: #333;
  padding: 15px 15px 0px 15px;
}
.panel-title {
  font-size: 20px;
}
.row {
  font-size: 15px;
}

.h1, h1 {
  margin-bottom: 14px;
  margin-left: 5px;
}
dt, dd {
  line-height: 12px;
}

.col-a-left {
  width: 36%;
}
.col-a-right {
  width: 64%;
}

.chal-score {
  font-size: 25px;
  line-height: 20px;
}

.panel-PPC      >.panel-body, .panel-success.panel-PPC      >.panel-heading a, .panel-PPC      >.panel-body a, .chal-name-PPC       { color: rgb(253, 105, 64);  }
.panel-Forensics>.panel-body, .panel-success.panel-Forensics>.panel-heading a, .panel-Forensics>.panel-body a, .chal-name-Forensics { color: rgb(209, 5,   245); }
.panel-Web      >.panel-body, .panel-success.panel-Web      >.panel-heading a, .panel-Web      >.panel-body a, .chal-name-Web       { color: rgb(29,  146, 241); }
.panel-Binary   >.panel-body, .panel-success.panel-Binary   >.panel-heading a, .panel-Binary   >.panel-body a, .chal-name-Binary    { color: rgb(2,   236, 55);  }
.panel-Pwn      >.panel-body, .panel-success.panel-Pwn      >.panel-heading a, .panel-Pwn      >.panel-body a, .chal-name-Pwn       { color: rgb(218, 185, 5);   }
.panel-Misc     >.panel-body, .panel-success.panel-Misc     >.panel-heading a, .panel-Misc     >.panel-body a, .chal-name-Misc      { color: rgb(242, 47,  154); }
.panel-Shell    >.panel-body, .panel-success.panel-Shell    >.panel-heading a, .panel-Shell    >.panel-body a, .chal-name-Shell     { color: rgb(145, 113, 253); }
.panel-Crypto   >.panel-body, .panel-success.panel-Crypto   >.panel-heading a, .panel-Crypto   >.panel-body a, .chal-name-Crypto    { color: rgb(5,   218, 185); }
.panel-OSINT    >.panel-body, .panel-success.panel-OSINT    >.panel-heading a, .panel-OSINT    >.panel-body a, .chal-name-OSINT     { color: rgb(131, 225, 15);  }

.panel-PPC      , .panel-primary.panel-PPC       >.panel-heading { background-color: rgb(253, 105, 64);  border-color: rgb(253, 105, 64);  }
.panel-Forensics, .panel-primary.panel-Forensics >.panel-heading { background-color: rgb(209, 5,   245); border-color: rgb(209, 5,   245); }
.panel-Web      , .panel-primary.panel-Web       >.panel-heading { background-color: rgb(29,  146, 241); border-color: rgb(29,  146, 241); }
.panel-Binary   , .panel-primary.panel-Binary    >.panel-heading { background-color: rgb(2,   236, 55);  border-color: rgb(2,   236, 55);  }
.panel-Pwn      , .panel-primary.panel-Pwn       >.panel-heading { background-color: rgb(218, 185, 5);   border-color: rgb(218, 185, 5);   }
.panel-Misc     , .panel-primary.panel-Misc      >.panel-heading { background-color: rgb(242, 47,  154); border-color: rgb(242, 47,  154); }
.panel-Shell    , .panel-primary.panel-Shell     >.panel-heading { background-color: rgb(145, 113, 253); border-color: rgb(145, 113, 253); }
.panel-Crypto   , .panel-primary.panel-Crypto    >.panel-heading { background-color: rgb(5,   218, 185); border-color: rgb(5,   218, 185); }
.panel-OSINT    , .panel-primary.panel-OSINT     >.panel-heading { background-color: rgb(131, 225, 15);  border-color: rgb(131, 225, 15);  }

