@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

* {
  font-family: 'Oxygen Mono', 'Yu Gothic', monospace;
}
img.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
img.icon.big {
  width: 42px;
  height: 42px;
}

.markdown a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.markdown code {
  background-color: transparent;
  border: 1px dotted #c7254e;
}
.markdown pre {
  background-color: transparent;
  border-color: #0c0;
}
.markdown pre code {
  border: none;
}
.markdown img {
  max-width: 100%;
}

.panel-challenge {
  background: #333;
  padding: 17px 15px 0px 15px;
}
.panel-title {
  font-size: 20px;
}
.panel-title a:hover {
  color: #000;
}
.row {
  font-size: 15px;
}

code {
  font-family: 'Oxygen Mono', 'Yu Gothic', monospace;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Oxygen Mono', 'Yu Gothic', monospace;
}
.h1, h1 {
  margin-bottom: 14px;
  margin-left: 5px;
}
dt, dd {
  line-height: 12px;
}
body {
  color: #ccc;
}
a {
  color: #fff;
}
a:hover, a:focus {
  color: #bbb;
}
.nav-tabs {
  background: #111;
}
.nav>li>a:hover, .nav>li>a:focus {
  background-color: #333;
}
.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
  color: #999;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
}
.table-hover>tbody>tr:hover {
  background-color: #333;
}

.col-a-left {
  width: 36%;
}
.col-a-right {
  width: 64%;
}

.chal-score {
  font-size: 25px;
  line-height: 20px;
}
.btn-primary {
  background-color: #eee;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #ccc;
}
.btn-default {
  color: #eee;
}
.btn-default:hover, .btn-default:focusi, .btn-default:active {
  color: #ccc;
}
.solved-chals {
  height: 20px;
}
.dropdown-menu>li>a {
  color: #ccc;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
  background-color: #eee;
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a.focus {
  color: #555;
}

.questions {
  margin-top: 20px;
}
.question-panel>.panel-primary {
  border-color: #ccc;
}
.question-panel>.panel>.panel-body {
  padding: 15px 15px 0px 15px;
}
.question-panel.new-question>.panel>.panel-body {
  padding: 10px 10px 11px 10px;
}

.loading {
  margin-left: 10px;
  margin-top: 10px;
}
.chal-title {
  margin-bottom: 25px;
}

.form-control {
  color: #0c0;
}

.question-form {
  padding-right: 0px;
}
.question-form>textarea.form-control {
  height: 100px;
}
.question-send {
  padding-top: 1px;
}

.question-text {
  line-height: 17px;
}

.panel a, .chal-meta a { color: inherit; }

.panel-PPC      >.panel-body, .panel-success.panel-PPC      >.panel-heading, .chal-name-PPC       { color: rgb(253, 105, 64);  }
.panel-Forensics>.panel-body, .panel-success.panel-Forensics>.panel-heading, .chal-name-Forensics { color: rgb(209, 5,   245); }
.panel-Web      >.panel-body, .panel-success.panel-Web      >.panel-heading, .chal-name-Web       { color: rgb(29,  146, 241); }
.panel-Binary   >.panel-body, .panel-success.panel-Binary   >.panel-heading, .chal-name-Binary    { color: rgb(2,   236, 55);  }
.panel-Pwn      >.panel-body, .panel-success.panel-Pwn      >.panel-heading, .chal-name-Pwn       { color: rgb(218, 185, 5);   }
.panel-Misc     >.panel-body, .panel-success.panel-Misc     >.panel-heading, .chal-name-Misc      { color: rgb(242, 47,  154); }
.panel-Shell    >.panel-body, .panel-success.panel-Shell    >.panel-heading, .chal-name-Shell     { color: rgb(145, 113, 253); }
.panel-Crypto   >.panel-body, .panel-success.panel-Crypto   >.panel-heading, .chal-name-Crypto    { color: rgb(5,   218, 185); }
.panel-OSINT    >.panel-body, .panel-success.panel-OSINT    >.panel-heading, .chal-name-OSINT     { color: rgb(131, 225, 15);  }

.panel-PPC      , .panel-primary.panel-PPC       >.panel-heading { background-color: rgb(253, 105, 64);  border-color: rgb(253, 105, 64);  }
.panel-Forensics, .panel-primary.panel-Forensics >.panel-heading { background-color: rgb(209, 5,   245); border-color: rgb(209, 5,   245); }
.panel-Web      , .panel-primary.panel-Web       >.panel-heading { background-color: rgb(29,  146, 241); border-color: rgb(29,  146, 241); }
.panel-Binary   , .panel-primary.panel-Binary    >.panel-heading { background-color: rgb(2,   236, 55);  border-color: rgb(2,   236, 55);  }
.panel-Pwn      , .panel-primary.panel-Pwn       >.panel-heading { background-color: rgb(218, 185, 5);   border-color: rgb(218, 185, 5);   }
.panel-Misc     , .panel-primary.panel-Misc      >.panel-heading { background-color: rgb(242, 47,  154); border-color: rgb(242, 47,  154); }
.panel-Shell    , .panel-primary.panel-Shell     >.panel-heading { background-color: rgb(145, 113, 253); border-color: rgb(145, 113, 253); }
.panel-Crypto   , .panel-primary.panel-Crypto    >.panel-heading { background-color: rgb(5,   218, 185); border-color: rgb(5,   218, 185); }
.panel-OSINT    , .panel-primary.panel-OSINT     >.panel-heading { background-color: rgb(131, 225, 15);  border-color: rgb(131, 225, 15);  }
