@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

* {
  font-family: 'Oxygen Mono', 'Yu Gothic', monospace !important;
}
img.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
img.icon.big {
  width: 42px;
  height: 42px;
}

.markdown a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.markdown code {
  background-color: transparent;
  border: 1px dotted #c7254e;
}
.markdown pre {
  background-color: transparent;
  border-color: #0c0;
}
.markdown pre code {
  border: none;
}
.markdown img {
  max-width: 100%;
}

.panel-challenge {
  background: #333;
  padding: 15px 15px 0px 15px;
}
.panel-title {
  font-size: 20px;
}
.row {
  font-size: 15px;
}

.h1, h1 {
  margin-bottom: 14px;
  margin-left: 5px;
}
dt, dd {
  line-height: 12px;
}

.col-a-left {
  width: 36%;
}
.col-a-right {
  width: 64%;
}

.chal-score {
  font-size: 25px;
  line-height: 20px;
}

.panel-PPC      >.panel-body, .panel-PPC      >.panel-body a, .chal-name-PPC       { color: rgb(253, 105, 64) }
.panel-Forensics>.panel-body, .panel-Forensics>.panel-body a, .chal-name-Forensics { color: rgb(185, 5,   218) }
.panel-Web      >.panel-body, .panel-Web      >.panel-body a, .chal-name-Web       { color: rgb(29,  146, 241) }
.panel-Binary   >.panel-body, .panel-Binary   >.panel-body a, .chal-name-Binary    { color: rgb(64,  253, 105) }
.panel-Pwn      >.panel-body, .panel-Pwn      >.panel-body a, .chal-name-Pwn       { color: rgb(218, 185, 5) }
.panel-Misc     >.panel-body, .panel-Misc     >.panel-body a, .chal-name-Misc      { color: rgb(241, 29,  146) }
.panel-Shell    >.panel-body, .panel-Shell    >.panel-body a, .chal-name-Shell     { color: rgb(105, 64,  253) }
.panel-Crypto   >.panel-body, .panel-Crypto   >.panel-body a, .chal-name-Crypto    { color: rgb(5,   218, 185) }
.panel-OSINT    >.panel-body, .panel-OSINT    >.panel-body a, .chal-name-OSINT     { color: rgb(146, 241, 29) }

.panel-PPC      , .panel-PPC      >.panel-heading { background-color: rgb(253, 105, 64);  border-color: rgb(253, 105, 64)  }
.panel-Forensics, .panel-Forensics>.panel-heading { background-color: rgb(185, 5,   218); border-color: rgb(185, 5,   218) }
.panel-Web      , .panel-Web      >.panel-heading { background-color: rgb(29,  146, 241); border-color: rgb(29,  146, 241) }
.panel-Binary   , .panel-Binary   >.panel-heading { background-color: rgb(64,  253, 105); border-color: rgb(64,  253, 105) }
.panel-Pwn      , .panel-Pwn      >.panel-heading { background-color: rgb(218, 185, 5);   border-color: rgb(218, 185, 5)   }
.panel-Misc     , .panel-Misc     >.panel-heading { background-color: rgb(241, 29,  146); border-color: rgb(241, 29,  146) }
.panel-Shell    , .panel-Shell    >.panel-heading { background-color: rgb(105, 64,  253); border-color: rgb(105, 64,  253) }
.panel-Crypto   , .panel-Crypto   >.panel-heading { background-color: rgb(5,   218, 185); border-color: rgb(5,   218, 185) }
.panel-OSINT    , .panel-OSINT    >.panel-heading { background-color: rgb(146, 241, 29);  border-color: rgb(146, 241, 29)  }

